pytesseract
pyarrow #will soon become a required dependency of pandas. really useful as you can save large dataframes as .parquet files which are
#much smaller than csv files and much faster to load, I have seen about 10x in both size and speed.
pandas
numpy
matplotlib
seaborn
openai
anthropic
tiktoken
evaluate
jiwer
python-dotenv
PyPDF2
jellyfish
scikit-learn
replicate
jinja2
bs4 #for processing the sydeny morning heral data from Overproof
ipykernal

##
## For the fine tuning
##

#transformers
#trl
#accelerate
#torch #installing torch can cause issues with some of the sub modules relating to audio, which are not necessary for this project
# tweak as you need to
#bitsandbytes
#peft
#datasets
nervaluate #for evaluating the NER

#beautifulsoup4 #only needed for dowbnloading the dataset 1 from overproof, which is not really necessary.